/* GERAL */
:root{
	--color-dark: #181719;
	--color-ligth: #FDFFF2;
}

body{
    background-color: #fff;
    color: #000;
}

.bg-body-primary{
    font-size: 15px;
    font-family: Inika;
}

.bg-body-secundary{
    background-color:  var(--color-ligth);
}

/* NAVBAR */
.navbar{
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-family: Oleo Script Swash Caps;
    line-height: 18px; 
    padding: 0 2% 0 2%;
}

#title-navbar{
    font-size: 1.8rem;
}

#img-profile{
    width: 60px;
}

#logo-IFB-horizontal{
    width: 200px;
    display: inline-flex;
    align-items: flex-end;
    gap: 10.478px;
}

/* Home - Modalidade */
#title-modalidade{
    margin: 10px;
}

.card-img-top{
    width: 65%;
}

.card{
    width: 230px;
    height: 230px;
    align-items: center;
}

/* Footer */
footer{
    width: 100%; 
    background: #FDFFF2;
    font-family: Inconsolata;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50%;
}

.text-footer{
    text-align: right;
}

#a-text-footer{
    color: #000;
    text-decoration: none;
}